<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Soccer Database: Manager Page </title>
        <style>
            .center-text {
                text-align: center;
            }
        </style>
</head>
<body>
    <div class="center-text">
    <h1>Manager Search</h1>
        <p>Search a Manager Name HERE to get their history and other information!</p>
        <form action="/action_page.php" target = "_blank">
            <label for="name">Manager Name:</label><br>
            <input type="text" id="name" name="name" value=""><br>
        </form>
    </div>
</body>
</html>