<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Soccer Database: Team Page </title>
        <style>
            .center-text {
                text-align: center;
            }
        </style>
</head>
<body>
    <div class="center-text">
    <h1>Team Search</h1>
        <p>Search a Team Name HERE to get their information and matches!</p>
        <form action="/action_page.php" target = "_blank">
            <label for="name">Team Name:</label><br>
            <input type="text" id="name" name="name" value=""><br>
        </form>
    </div>
</body>
</html>